 
 <form class="form-signin">
  <h4 class="form-signin-heading">Please sign in</h4>

  <label for="inputEmail" class="sr-only">Email address</label>
  <input ng-model="username" type="username" id="inputEmail" class="form-control" placeholder="username" required autofocus>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" ng-model="password" id="inputPassword" class="form-control" placeholder="Password" required>
  <!-- div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div -->
  <button class="btn btn-lg btn-primary btn-block" ng-click="login()">Sign in</button>
</form>
